body {
    display: block;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    background-attachment: fixed;
    min-width: 375px;
    max-width: 1440px;
}

.container{
    width: 280px;
    background-color: white;   
    border-radius: 15px;    
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);    
    position: relative;
    display: block;
    justify-content: center;
    background-attachment: scroll;
    align-items: center;
    margin: auto;
    margin-top: 25%;
    margin-bottom: 25%;
    padding: 15px;
}

p{
    font-size: 15px;
    text-align: center;
    padding: 0px 10px;
    word-spacing: 0.5pt;
    font-family: 'Outfit', sans-serif;
}

#para1{
    font-weight: Regular 400;
    font-size: 14pt;
    text-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.5) ;
    padding: 0px 30px;
    
}

#para2{
    color: hsl(220, 15%, 55%);
    font-weight: Bold 700;
    padding: 0px 30px 50px;
    font-size: 10pt;
    
}

a:link{
    color: blue;
}

a:visited{
    color: purple;
}

img{
    width: 100%;   
    border-radius: 15px;
}

.att{
    text-align: center;
}

